<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="well">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" class="form-control">
        <br>
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="password" class="form-control">
        <hr>
        <button class="btn btn-primary btn-block" (click)="registrar()">Registrarse</button>
        <button class="btn btn-default btn-block">Cancelar</button>
      </div>
    </div>
  </div>
</div>